/* Início da estilização do cabeçalho que inclui imagem, logo, menu */
.cabecalho {
    max-width: 1920px;
}

.imagem-cabecalho {
    height: 1080px;
    width: 1920;
}

.largura-espaco-logo {
    white-space: nowrap;
}

.estilo-bottom-menu {
    bottom: -16px;
}
/* Fim da estilização do cabeçalho que inclui imagem, logo, menu */

/* image spbre  */
.img_sobre {
     height: 100%;
     width: 100%;
}